@{
    ViewBag.Title = "BasicForm";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>
            Basic Form Demo
        </h3>
    </div>
    <div class="panel-body">

        <label>
            Firstname:
        </label>
        <input type="text" data-bind="value: firstname" />

        <br />

        <label>
            Lastname:
        </label>
        <input type="text" data-bind="textInput: lastname" />

        <br />

        <label>
            Occupation:
        </label>
        <select data-bind="options: occupationList, value: occupation, optionsCaption: 'Choose one...', valueAllowUnset: true"></select>

        <br />

        <label>
            Your interests?
        </label>
        <!-- ko foreach: interestList -->
        <br />
        <input type="checkbox" data-bind="checkedValue: $data, checked: $parent.chosenInterests, attr: { id: 'chkbx_' + $index() }" />
        <label data-bind="text: $data, attr: { for: 'chkbx_' + $index() }"></label>
        <!-- /ko -->

        <br />

        <label>
            Hourly freelance rate:
        </label>
        <input type="text" data-bind="textInput: hourlyRateWithSign" />



        <br />
        <br />
        <br />

        <div style="font-size: 2em;">
            <!-- ko if: fullname() -->
            <span data-bind="text: 'Hello, ' + fullname() + '! '"></span>
            <!-- /ko -->
            <!-- ko if: occupation() -->
            <span data-bind="text: occupationtext()"></span>
            <!-- /ko -->
        </div>


    </div>
    <div class="panel-footer">
        <h3>Output JSON:</h3>
        <pre data-bind="text: JSON.stringify(ko.toJS($root), null, 2)">
        </pre>
    </div>
</div>

@section ExtraScripts
{
    <script>
        $(function () {
            function appViewModel(data) {
                var self = this;
                self.firstname = ko.observable(data.firstname);
                self.lastname = ko.observable("");
                self.occupation = ko.observable();
                self.chosenInterests = ko.observableArray([]);
                self.hourlyRate = ko.observable(70);

                self.fullname = ko.pureComputed({
                    read: function () {
                        return self.firstname() + " " + self.lastname();
                    }
                });

                self.occupationtext = ko.pureComputed({
                    read: function () {
                        if (self.occupation())
                            return "You are a " + self.occupation() + ". ";
                        return "";
                    }
                });

                self.hourlyRateWithSign = ko.pureComputed({
                    read: function () {
                        return "£" + self.hourlyRate();
                    },
                    write: function (value) {
                        value = parseFloat(value.replace(/[^\.\d]/g, ""));
                        self.hourlyRate(isNaN(value) ? 0 : value);
                    }
                });

                self.interestList = ko.observableArray(["Choice 1", "Choice 2"]);

                self.occupationList = ko.observableArray(["Web developer", "Mobile developer", "UI Designer"]);

            }

            var ele = document.getElementById("basic");
            var model = new appViewModel({ firstname: 'Umair' });
            ko.applyBindings(model, ele);

        });
    </script>
}