@{
    ViewBag.Title = "BindingHandler";
}

<div class="panel panel-info" id="bindinghandler">
    <div class="panel-heading">
        <h3>
            Binding Handler Demo
        </h3>
    </div>
    <div class="panel-body">

        <label>
            Firstname:
        </label>
        <input type="text" data-bind="value: firstname" />

        <br />

        <label>
            Lastname:
        </label>
        <input type="text" data-bind="textInput: lastname" />

        <br />

    </div>
    <div class="panel-footer">

        <h3>Output JSON:</h3>
        <pre data-bind="text: JSON.stringify(ko.toJS($root), null, 2)">
        </pre>

    </div>
</div>

@section ExtraScripts
{
    <script>
        $(function () {
            function appViewModel() {
                var self = this;
                self.firstname = ko.observable("");
                self.lastname = ko.observable("");

                self.fullname = ko.pureComputed({
                    read: function () {
                        return self.firstname() + " " + self.lastname();
                    }
                });

            }

            var ele = document.getElementById("bindinghandler");
            var model = new appViewModel();
            ko.applyBindings(model, ele);

        });
    </script>
}

