@{
    ViewBag.Title = "Click";
}

<div class="panel panel-info" id="clk">
    <div class="panel-heading">
        <h3>Click Demo</h3>
    </div>
    <div class="panel-body">

        <label>
            Email:
        </label>
        <input type="text" data-bind="value: email" />

        <br />

        <input type="button" data-bind="click: getGravatar" value="Get Gravatar" />


        <br />
        <br />
        <br />

        <!-- ko if: gravatarUrl() -->
        <img data-bind="attr: { src: gravatarUrl() } " />
        <!-- /ko -->

    </div>
    <div class="panel-footer">

        <h3>Output JSON:</h3>
        <pre data-bind="text: JSON.stringify(ko.toJS($root), null, 2)">
    </pre>

    </div>
</div>


@section ExtraScripts
{
    <script>
        $(function () {
            function appViewModel() {
                var self = this;
                self.email = ko.observable("");
                self.gravatarUrl = ko.observable("");

                self.getGravatar = function () {
                    if (self.email()) {
                        var hash = calcMD5(self.email());

                        self.gravatarUrl("http://www.gravatar.com/avatar/" + hash);
                    } else {
                        self.gravatarUrl("");
                    }
                };

            }

            var ele = document.getElementById("clk");
            var model = new appViewModel({ firstname: 'Umair' });
            ko.applyBindings(model, ele);

        });
    </script>
}
