@{
    ViewBag.Title = "Subscription";
}

<div class="panel panel-info" id="subscribe">
    <div class="panel-heading">
        <h3>Subscription Demo</h3>
    </div>
    <div class="panel-body">

        <label>
            Name:
        </label>
        <input type="text" data-bind="value: name" />


        <br />
        <br />
        <br />

        <div style="font-size: 2em;">
            <!-- ko if: name() -->
            <span data-bind="text: 'Hello, ' + name() + '! '"></span>
            <!-- /ko -->
        </div>

    </div>
    <div class="panel-footer">

        <h3>Output JSON:</h3>
        <pre data-bind="text: JSON.stringify(ko.toJS($root), null, 2)">
    </pre>

    </div>
</div>



@section ExtraScripts
{
    <script>
        $(function () {
            function appViewModel(data) {
                var self = this;
                self.name = ko.observable(data.name);

                self.name.subscribe(function (newValue) {
                    alertify.success("New Value: " + newValue);
                });

                self.name.subscribe(function (oldValue) {
                    alertify.error("Old Value: " + oldValue);
                }, null, "beforeChange");
            }

            var ele = document.getElementById("subscribe");
            var model = new appViewModel({ name: 'Umair' });
            ko.applyBindings(model, ele);

        });
    </script>
}
