@{
    ViewBag.Title = "Web Resources";
}

<h2></h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Knockout Web Resources</h3>
    </div>

    <ul class="list-group">

        <li class="list-group-item">
            This website: <a href="http://kodemo.azurewebsites.net/">http://kodemo.azurewebsites.net/</a>
        </li>

        <li class="list-group-item">
            Famous utility functions: <a href="http://www.knockmeout.net/2011/04/utility-functions-in-knockoutjs.html">http://www.knockmeout.net/2011/04/utility-functions-in-knockoutjs.html</a>
        </li>

        <li class="list-group-item">
            Very Helpful site for examples/samples: <a href="http://www.knockmeout.net/">http://www.knockmeout.net/</a>
        </li>

        <li class="list-group-item">
            Ryan Niemeyer: <a href="http://www.knockmeout.net/">http://www.knockmeout.net/</a>
            <br />
            <br />
            On Stackovreflow:
            <br />
            <a href="http://stackoverflow.com/users/594420/rp-niemeyer">
                <img src="http://stackoverflow.com/users/flair/594420.png" width="208" height="58">
            </a>
            <br />
            <br />
            On GitHub: <a href="https://github.com/rniemeyer">https://github.com/rniemeyer</a>
        </li>

    </ul>
</div>